@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&family=Pacifico&display=swap');

.initial-screen{
    display: none;
}

.btns-register-entry{
    display: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(99, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#recado {
    opacity: 100%;
    width:70%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
}

.rosto {
    transform: rotate(90deg);
    font-size: 5rem;
    
}

/* MOBILE */


@media screen and (max-width: 600px) {
#recado {
        display: none !important;
    }

*{  
    opacity: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(99, 22, 22);
}

.initial-screen{
    display: block;
    z-index: 99;
    background-color: rgb(99, 22, 22);
    padding: 5%;
    width: 100%;
    height: 100vh;
    transition: all 1s ;
    transition-timing-function:cubic-bezier(.88,-0.01,.19,.96);
}

.initial-screen main {
    z-index: 99;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 45px;
    animation: logo 1s;
    animation-delay: 0.5s;
    animation-fill-mode:backwards;

}

.initial-screen main h1 {
    position: relative;
    top: 130px;
    z-index: 2;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: rgb(99, 22, 22);
    font-weight: 700;

}

.initial-screen main p {
    font-family: 'Nunito', sans-serif;
    z-index: 2;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
}

#bone{
    font-size: 14rem;
    position: relative;
    text-align: center;
    z-index: 1;
    height: 180px;
    color: #fff;

}




[data-anime] .scroll-scren {
    transform: translateY(-700px) translateX(0);
}



.scroll-scren{
    transform: translateY(-700px) translateX(0);
}

.hidden-screen {
    height: 0;
    margin:0;
    padding: 0;

}


.logo{
    z-index: 1;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.seta{
    position: absolute;
    bottom: 2vh;
    right: 0;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: hidden 2s;
    animation-fill-mode:backwards;
    animation-delay: 4s;
    animation-timing-function:ease-in;

}

.fa-location-arrow {
    transform: rotateX(50deg) rotateZ(-45deg);
    font-size: 2rem;
    color: rgb(255, 255, 255);
    animation:pulo 1s, seta 5s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-timing-function:ease-in-out;


}


.bar {
    padding: 2px 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    animation: bar 5s , seta 5s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-timing-function:ease-in-out;


}

  /*  REGISTER OR LOGIN  */

  body{
    display: fixed;
}

html {
    scroll-behavior: smooth;
}


.btns-register-entry {
    position: fixed;
    top: 160vh;
    left: 0;
    padding: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(223, 171, 2);
    transition: all .3s;
    transition-timing-function:cubic-bezier(.88,-0.01,.19,.96);

}


.btns-register-entry h1 {
    position: relative;
    top: 137px;
    z-index: 1;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btns-register-entry #bone{
    font-size: 10rem;
    position: relative;
    text-align: center;
    z-index: 0;
    height: 180px;
    color: rgb(103, 15, 15);
    margin-bottom: 10%;
}



.buttons-imgs {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btns-register-entry .buttons-imgs img {
    width: 75%;
}

.btns-register-entry .buttons-imgs .btn {
    width: 16rem;
    height: 4rem;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 3px 0px 1px rgba(0, 0, 0, 0.36);

}






#entry {
    font-size: 1.5rem;
    font-weight: 700;
}

#create {
    margin: 15px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.change-password {
    position: relative;
    bottom: -1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #000;
}

a {
    color: #000;
}

/* FIM REGISTER OR LOGIN */

/* ANIMATION INITIAL SCREEN*/

@keyframes bar {
    0%  {background-color:rgba(255, 255, 255, 0.87); left:200px; top:0px;}
    50% {background-color: rgba(255, 255, 255, 0); left:0px; top:0px;}
    100%  {background-color:rgba(255, 255, 255, 0.87); left:200px; top:0px;}
}

@keyframes hidden {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes pulo{
    0% {margin-bottom: 0px;}
    50% { margin-bottom: 10px;}
    100% {margin-bottom: 0px;}
}


@keyframes seta{
    0%  {color:rgb(255, 255, 255, 0.87); left:200px; top:0px;}
    50% {color: rgba(255, 255, 255, 0); left:0px; top:0px;}
    100%  {color:rgb(255, 255, 255, 0.87); left:200px; top:0px;}

}

@keyframes logo {
    from {transform: scale(0%);}
    to {transform: scale(100%);}
}

/* ----------------------------------- */


}